@import url("https://fonts.googleapis.com/css2?family=Varela+Round");
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.cs");

@font-face {
    font-family: GeneralFont;
    src: url("resources/fonts/SalemoreLongest.ttf") format("truetype");
}

h3, h4 {
    margin: 0;
    font-family: "GeneralFont", sans-serif;
}

p {
    font-family: "GeneralFont", sans-serif;
    font-size: 20px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
    width: 100%;
}
  
body {
    height: 900vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #6082B6;
    flex-direction: column;
    background-size: 100% 100%;
    background-image: url('resources/media/images/bodyBackground.jpeg');
    background-size: cover; /* La imagen ocupa todo el viewport */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    background-attachment: fixed; /* Fija la imagen al viewport */
}

.p-letter{
    margin: 30px; /* Margen alrededor del texto */
    padding: 10px; /* Espaciado interno para que el texto no toque los bordes */
    text-align: center; /* Centrado del texto */
}
  
.wrapper {
    height: 40vh;
    width: 70vw;
    background-color: #3760C9;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 0;
    transition: transform 1s ease-out; /* Transición suave */
}

/* Solapas */
.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 35vw solid transparent;
    border-bottom: 20vh solid transparent;
    border-left: 35vw solid transparent;
    transform-origin: top;
    transition: transform 0.5s ease-out; /* Transición suave para abrir las solapas */
}

/* Solapa superior */
.lid.one {
    border-top: 20vh solid #658ced;
    transform: rotateX(0deg); /* Completamente cerrada */
    z-index: 3;
}

/* Solapa inferior */
.lid.two {
    border-top: 20vh solid #3760C9;
    transform: rotateX(0deg); /* Completamente cerrada */
    z-index: 1;
}

.letter {
    background-color: beige;
    opacity: 0;
    transform: translateY(20px); /* Inicia un poco desplazado */
    transition: opacity 0.6s ease, transform 0.6s ease;

  }
  
  .letter p {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    color: #3B4049;
  }

  .letter.show{
    opacity: 1;
    transform: translateY(0);

  }

/* Contenido */
.content {
    text-align: center;
    color: #333;
    background-color: beige;
    margin-top: 50px;
    align-content: top;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 1s ease-out, transform 1s ease-out;
    transform: translateY(20px); /* Comienza más abajo */
    border-radius: 15px;
    
    

}

/* Mostrar contenido */
.content.visible {
    opacity: 1;
    transform: translateY(-150px); /* Regresa a su posición */
    z-index: 1;
}

/* Envelope container */
.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 20vh solid transparent;
    border-right: 35vw solid #C4DFF0;
    border-bottom: 20vh solid #C4DFF0;
    border-left: 35vw solid #a4d4f2;
    z-index: 3;
}


/* Cuando el sobre se ha desplazado hacia abajo, el contenido aparece */
.wrapper.open .content {
    opacity: 1;
    transform: translateY(0); /* El contenido se mueve hacia su posición original */
}

.quote {
    text-align: center;
    margin: 30px;
}

footer {
    text-align: right;
    margin: 30px;
}

.first-text {
    position: absolute; /* Fuera del flujo del diseño */
    top: 50%; /* Centra verticalmente respecto al contenedor */
    left: 50%; /* Centra horizontalmente respecto al contenedor */
    transform: translate(-50%, -50%); /* Ajusta el centro exacto */
    max-width: 100%; /* Escala al ancho del viewport */
    max-height: 100%; /* Escala al alto del contenedor */
    z-index: 1; /* Asegura que se posicione detrás del sobre */
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    color: whitesmoke;
}

.background-container {
    position: relative; /* Permite posicionar elementos dentro */
    width: 100vw; /* Ocupa todo el ancho del viewport */
    height: 100vh; /* Ocupa todo el alto del viewport */
    overflow: hidden;
    background: 
    linear-gradient(to bottom, rgba(95,149,170,1), rgba(255,255,255,0)50%, rgba(255,255,255,0)50%, rgba(95,149,170,1)),
    url('resources/media/images/background2.jpeg') center/cover no-repeat;
}

.background-container img {
    width: 100vw; /* Ajusta el ancho al viewport */
    height: 100vh; /* Ajusta el alto al viewport */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
    
}

#text-overlay {
    position: absolute; /* Posiciona el texto encima */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el texto al centro exacto */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    font-family: Arial, sans-serif; /* Fuente */
    font-size: 2rem; /* Tamaño del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejor visibilidad */
}
#animation-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Altura específica para el contenedor */
    overflow: hidden; /* Asegura que nada sobresalga */
    background-color: black; /* Fondo negro específico */
}

.quote-container {
    background-color: rgba(167, 199, 231, 0.5); /* Fondo oscuro del contenedor */
    color: #e2e8f0; /* Color claro para el texto */
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    text-align: center;
    max-width: 400px;
    line-height: 1.5;
}

.item:hover:after{
    filter: drop-shadow(5px 0 4px
    #0000001a); 
}

.item:hover .layer {
    left: 50px;
}

/* Contenedor general que utiliza Flexbox */
.flex-container {
    display: flex;
    position: relative;
    flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente */
    justify-content: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre los contenedores */
    padding: 20px;
    background-color: transparent;
}

/* Estilos del contenedor individual */
.responsive-container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 calc(50% - 20px); /* Ocupa el 50% del ancho menos el espacio */
    /*transition: transform 0.3s ease-in-out;*/
    position: relative;
    margin: 20px auto;
    /*background-image: url('resources/media/images/water.jpg') ; */
    background-color: rgba(75, 119, 190, 0.2);
    background-size: cover;
    padding-top: 50px;
}

.responsive-container::before {
    content: '';
    background-image: url('resources/media/images/crown.png'); /* Imagen de la corona */
    background-size: cover; /* Asegúrate de que la imagen mantenga sus proporciones */
    /*background-repeat: no-repeat; /* Evita que se repita */
    position: absolute; /* Para posicionarlo en relación al contenedor */
    top: -15%; /* Ajusta la corona para que quede fuera del contenedor */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta para centrar */
    height: 70px; /* Altura fija para la corona */
    width: 70px; /* Asegura proporción de la corona */
    z-index: 1;
}
/*
.responsive-container::before {
    content: '';
    background-image: url('resources/media/images/crown.png');
    background-size: cover;
    height: 25%;
    width: 15%;
} */



/* Estilos internos del contenedor */
.container-title {
    font-size: 6vw;
    font-size: 32px; /* Límite máximo */
    color: #333;
    margin-bottom: 10px;
}

.container-description {
    font-size: 10vw;
    font-size: 18px; /* Límite máximo */
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}

.container-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 4vw;
    font-size: 16px; /* Límite máximo */
    /**/
    color: white;
    background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    border: 1px solid rgba(255, 255, 255, 0.4); /* Borde translúcido */
    border-radius: 12px;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container-button:hover {
    background: rgba(255, 255, 255, 0.2); /* Aumenta la opacidad al pasar el cursor */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.container-button:active{
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .responsive-container {
        flex: 1 1 100%; /* Los contenedores ocupan toda la fila */
    }

    .container-title {
        font-size: 10vw;
    }

    .container-description {
        font-size: 7vw;
    }

    .container-button {
        padding: 8px 16px;
        font-size: 7vw;
        
    }
}

@media screen and (max-width: 768px) {
    .responsive-container::before {
      width: 40px; /* Tamaño más pequeño */
      height: 40px;
      top: -8%; /* Ajusta la posición en pantallas pequeñas */
    }
  }
  
  @media screen and (max-width: 480px) {
    .responsive-container::before {
      width: 30px; /* Tamaño aún más pequeño */
      height: 30px;
      top: -6%;
    }
  }
  

.responsive-button-container{
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 calc(50% - 20px); /* Ocupa el 50% del ancho menos el espacio */
    /*transition: transform 0.3s ease-in-out;*/
    position: relative;
    margin: 20px auto;
    /*background-image: url('resources/media/images/water.jpg') ; */
    background-color: rgba(75, 119, 190, 0.2);
    background-size: cover;
    padding-top: 50px;

}

.responsive-button-container::before {
    content: '';
    background-image: url('resources/media/images/crown.png'); /* Imagen de la corona */
    background-size: contain; /* Asegúrate de que la imagen mantenga sus proporciones */
    background-repeat: no-repeat; /* Evita que se repita */
    position: absolute; /* Para posicionarlo en relación al contenedor */
    top: -15%; /* Ajusta la corona para que quede fuera del contenedor */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta para centrar */
    height: 70px; /* Altura fija para la corona */
    width: 70px; /* Asegura proporción de la corona */
    z-index: 1;
}


/* Estilos internos del contenedor */
.button-container-title {
    font-size: 6vw;
    font-size: 32px; /* Límite máximo */
    color: #333;
    margin-bottom: 10px;
}

.button-container-description {
    font-size: 4vw;
    font-size: 18px; /* Límite máximo */
    line-height: 1.5;
    color: #555;
    margin-bottom: 20px;
}

.button-container-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 4vw;
    font-size: 16px; /* Límite máximo */
    /**/
    color: white;
    background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    border: 1px solid rgba(255, 255, 255, 0.4); /* Borde translúcido */
    border-radius: 12px;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-container-button:hover {
    background: rgba(255, 255, 255, 0.2); /* Aumenta la opacidad al pasar el cursor */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.button-container-button:active{
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .responsive-button-container {
        flex: 1 1 100%; /* Los contenedores ocupan toda la fila */
    }

    .button-container-title {
        font-size: 10vw;
    }

    .button-container-description {
        font-size: 7vw;
    }

    .button-container-button {
        padding: 8px 16px;
        font-size: 7vw;
        
    }
}

@media screen and (max-width: 768px) {
    .responsive-button-container::before {
      width: 40px; /* Tamaño más pequeño */
      height: 40px;
      top: -8%; /* Ajusta la posición en pantallas pequeñas */
    }
  }
  
  @media screen and (max-width: 480px) {
    .responsive-button-container::before {
      width: 30px; /* Tamaño aún más pequeño */
      height: 30px;
      top: -6%;
    }
  }
  

.countdown-container {
    position: relative;
    width: 90%; /* Ocupa el 100% del ancho del padre */
    height: 30vh; /* Ocupa el 100% de la altura de la ventana */
    padding: 20px;
    border-radius: 15px; /* Elimina esquinas redondeadas si deseas que ocupe todo */
    background: rgba(75, 117, 190, 0.2);
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Asegúrate de que el contenido no desborde */
    
}

.countdown-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.5); /* Capa oscura sobre la imagen */
    border-radius: 15px;
    z-index: 1;
}

.countdown-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.date-highlight {
    font-size: 4rem; /* Tamaño grande para la fecha */
    font-weight: bold;
    color: #82addc; /* Color dorado para resaltar */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
}

.date-subtext {
    font-size: 1.2rem; /* Texto más pequeño para partes remarcadas */
    color: #fff;
    margin-bottom: 20px;
}

.countdown-timer {
    font-size: 2rem; /* Tamaño de la cuenta regresiva */
    font-weight: 600;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .date-highlight {
        font-size: 3rem;
    }
    .countdown-timer {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .countdown-container {
        padding: 10px;
        height: 25vh; /* Reduce la altura en pantallas pequeñas */
    }
}


/* galeria de imágenes*/

.wrapper-gallery {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: transparent;
  }
  
  .gallery {
    position: relative;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 35s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: perspective(1200px) rotateY(0deg);
    }
    to {
      transform: perspective(1200px) rotateY(360deg);
    }
  }
  
  .gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  }
  
  .gallery span img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  


.btn-music{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-music:hover {
    background-color: #0056b3;
    transform: scale(1.1); /* Agranda el botón ligeramente al pasar el cursor */
}

.btn-music:active {
    transform: scale(1); /* Elimina el efecto de hover al hacer clic */
}

/* Responsividad */
@media (max-width: 768px) {
    .btn-music {
        padding: 12px 16px; /* Ajusta el tamaño del botón */
        font-size: 14px; /* Reduce el tamaño de fuente */
        bottom: 15px; /* Ajusta el margen inferior */
        right: 15px; /* Ajusta el margen derecho */
    }
}

@media (max-width: 480px) {
    .btn-music {
        padding: 10px 14px; /* Reduce más el tamaño del botón */
        font-size: 12px; /* Fuente más pequeña para pantallas pequeñas */
        bottom: 10px; /* Menor distancia desde el borde inferior */
        right: 10px; /* Menor distancia desde el borde derecho */
    }
}

/*botón traslucido*/
.glassy-button {
    position: relative;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    border: 1px solid rgba(255, 255, 255, 0.4); /* Borde translúcido */
    border-radius: 12px;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 2); /* Sombra sutil */
    
  }
  
  .glassy-button:hover {
    background: rgba(255, 255, 255, 0.2); /* Aumenta la opacidad al pasar el cursor */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }
  
  .glassy-button:active {
    transform: scale(0.95);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  }


  #lyrics-container{
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 24px;
    line-height: 1.6;
    text-align: center;
  }

  .highlight{
    color: grey;
    font-weight: bold;
  }

  .box-title {
    text-transform: uppercase;
    color: transparent;
    font-family: "GeneralFont", sans-serif;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(135deg, #c0c0c0, #8a8a8a, #f0f0f0, #5a5a5a, #c0c0c0);
    background-size: 400% 400%;
    animation: shine 3s linear infinite;
    -webkit-background-clip: text;
            background-clip: text;
  }
  .box {
    text-transform: uppercase;
    color: transparent;
    font-family: "GeneralFont", sans-serif;
    font-size: clamp(15px, 5vw, 30px);
    font-weight: bold;
    background: linear-gradient(135deg, #c0c0c0, #8a8a8a, #f0f0f0, #5a5a5a, #c0c0c0);
    background-size: 400% 400%;
    animation: shine 3s linear infinite;
    -webkit-background-clip: text;
            background-clip: text;
  }
  
  @keyframes shine {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  










